/* Global */

@import '/global/fonts.pcss';
@import '/global/box-model.pcss';
@import '/global/variables.pcss';
@import '/global/page.pcss';

/* Blocks */

@import '../blocks/body/body.pcss';
@import '../blocks/header/header.pcss';
@import '../blocks/slider/slider.pcss';
@import '../blocks/about/about.pcss';

/* @import '../blocks/main/main.pcss'; */

/* @import '../blocks/section-list/section-list.pcss'; */

/* @import '../blocks/footer/footer.pcss'; */
